/* styles.css */
.ant-line-series-0 {
    stroke: #ff0000; /* Red */
  }
  
  .ant-line-series-1 {
    stroke: #00ff00; /* Green */
  }
  
  .ant-line-series-2 {
    stroke: #0000ff; /* Blue */
  }
  